
<div class="container">
	<header>
		<h1>Tutorial Republic</h1>
	</header>
	<div class="wrapper clearfix">
		<div class="sidebar">
			<nav>
				<ul>
					<li><a routerLink="/home" routerLinkActive="active">Home</a></li>
					<li><a routerLink="/home/about" routerLinkActive="active">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
		</div>
		<div class="content">
			<section>
				<h2>Welcome to our site</h2>
				<p>Here you will learn to create websites...</p>
			</section>
			<div class="inner-container">
				<div class="inner-row">
					<!-- routing here -->
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<p>copyright &copy;</p>
	</footer>
</div>

